/* 대시보드 카드 */
#aDashboard_smr {
    /* 4열로 맞춤 */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    margin-top: 30px;
}

.smr_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 8px;
    width: 250px;
    height: 100px;
    text-decoration: none;
    color: #333;
    cursor: pointer;
    transition: transform 0.2s;
}

.smr_card:hover {
    transform: scale(1.05);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.smr_title, .smr_value {
    font-size: 18px;
    font-weight: 500;
}

.smr_card span {
    font-size: 22px;
    font-weight: 550;
}

.total_users {
    background-color: #b8d3fd;
    border: 2px solid #abc9f8;
}

.avg_score {
    background-color: #ffe89e;
    border: 2px solid #f7dc86;
}

.comp_rate {
    background-color: #b6f1af;
    border: 2px solid #a4ee9c;
}

.uncomp_rate {
    background-color: #fac2c2;
    border: 2px solid #faaaaa;
}
