<link rel="stylesheet" href="home.css"/>
<footer class="site-footer">
  <div class="footer-inner">
    <div class="footer-logo">
      <span class="brand-main">First Aid</span>
      <span class="brand-sub">Academy</span>
    </div>

    <div class="footer-links">
      <a href="#">교육과정</a>
      <a href="#">소식센터</a>
      <a href="#">게임콘텐츠</a>
      <a href="#">나의강의실</a>
    </div>

    <div class="footer-info">
      <p>© First Aid Academy. All Rights Reserved.</p>
      <p>tel: 042-222-2402 | 주소 : 대전광역시 중구 중앙로121번길 20</p>
    </div>
  </div>
</footer>