<link rel="stylesheet" href="home.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
 <header>
    <div class="top">
      <div class="login">
        <a href="#">로그인</a><span>|</span><a href="user/agreement.html">회원가입</a>
      </div>
    </div>

    <nav class="navbar">
      
      <div class="logo_box">
        <div class="logo">
          <a href="home.html"> <img src="images/logo.png" alt="logo" class="logoImg" /></a>
        </div>

        <div class="nav-inner">
          <ul class="menu">
            <li class="menu-item"><a href="#">교육과정</a></li>
            <li class="menu-item"><a href="#">소식센터</a></li>
            <li class="menu-item"><a href="#">게임콘텐츠</a></li>
            <li class="menu-item"><a href="#">나의강의실</a></li>
          </ul>
        </div>
      </div>

      <div class="dropdowns" aria-hidden="true">
        <div class="dropdown">
          <a href="#">소개글</a>
          <a href="#">강의 목록</a>
          <a href="#">교육 자료</a>
        </div>

        <div class="dropdown">
          <a href="#">공지사항</a>
          <a href="#">FAQ</a>
          <a href="#">보도자료</a>
        </div>

        <div class="dropdown">
          <a href="#">응급 처치 게임</a>
        </div>

        <div class="dropdown">
          <a href="#">나의 학습 활동</a>
          <a href="#">문의 사항</a>
          <a href="#">수강 목록</a>
          <a href="#">수료</a>
          <a href="#">미수료</a>
          <a href="#">회원 정보 수정</a>
        </div>
      </div>
      </div>
    </nav>
  </header>